## React app env
#
# Deployed CarbonToken contract address
REACT_APP_TOKEN_ADDRESS="0xREPLACE_ME"
#
# 31337 = Hardhat Local, 11155111 = Sepolia
REACT_APP_EXPECTED_NETWORK_ID="31337"
#
# Must match SECRET_MESSAGE in the root .env
REACT_APP_SECRET_MESSAGE="carbon-credits-2026"

